.clock{
    height:250px;
     width:250px; 
     margin: 20px 0 0 20px;
    border-radius: 60px;
    background-color:yellow;
    position: relative;
    background-image:url(Analog_Clock_Image.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50%;
  }
  .text{
    position: absolute;
    top: 50%;
    left: 50%;
  }

  .hour, .minute, .second{
    transform-origin: bottom;
    position: absolute;
    opacity: 0.8;

  }
  .hour{
 height: 22%;
width: 1.8%;
    top: 28%;
    left: 49%;
    background-color: black;
   
  }
  .minute{
  
 height: 28%; 
width: 1.4%;
    top: 22%;
    left: 49%;
    background-color: black;

  }
  .second{
    
 height: 33%;
width: 1.2%;
    top: 17%;
    left: 49%;
    background-color: red;
    
  }
  .center{
    height:7%;
    width: 7%;
    position: absolute;
    top:46.4%;
    left: 46.4%;
    background-color: black;
    z-index: 1;
    opacity: 0.7;
    border-radius: 70%;
  }

  .time_zone{
    margin-top: 10px;
  }